.fondo-img{
    background-image: url(ba1.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    padding: 90px;
    letter-spacing: 2px;
    text-decoration: none;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    font-size: initial;
    font-family: monospace;
    tab-size: 4;
    border-spacing: 0px;
}
